.subtitle {
  margin: 32px auto 0px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .subtitle{
    margin: 16px auto 0px;
  }
}

